body {
    margin: 0;
    background: #23cea6;
}
div {
    margin: auto;
    width: 500px;
    height: 300px;
    box-shadow: #464646 3px 3px 10px 3px;
    background: #96e7d4;
    text-align: center;
}

h2 {
    padding: 50px 0 0 0;
    text-align: center;
    color: #7100ff;
    text-shadow: #4f4023 -5px 5px 10px;
    font-size: 50px;
}
p{

}
